<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Jack</title>
    <link rel="stylesheet" href="/static/css/blackjack.css"> <!-- Replace with the correct path -->
</head>
<body>
    <div id="dealerhand">
    </div>
    <div id="playarea">
    </div>
    <div id="scorearea">
        Player score: <span id="playerscore"></span>
        <br>
        Dealer score: <span id="dealerscore"></span>
        <br><br>
        Money: <span id="money">100</span>
    </div>
    <script src="/static/js/blackjack.js"></script> <!-- Replace with the correct path -->
</body>
</html>