<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Catacombs</title>
    <link rel="stylesheet" href="../static/css/pacman.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="button">Home</a></li>
            <li><a href="/store" class="button">Store</a></li>
        </ul>
    </nav>

    <h1>The Catacombs</h1>

    <div class="grid">
        <!-- Grid elements will be added here dynamically -->
    </div>

    <div id="userInfo">

    </div>
    

    <h3>Score: <span id="score">0</span></h3>

    <!-- Scripts -->
    <script src="../static/js/pacman.js"></script>
    <script src="../static/js/user-info.js"></script>
</body>
</html>
